@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

$primary: #25dca1 !default;
$secondary: #86bfeb !default;
$success: #14ea40 !default;
$danger: #ee4e4e !default;
$warning: #ffb836 !default;
$info: #647ee6 !default;
$light: #f8f9fa !default;
$dark: #041812 !default;

$body-bg: #f3fdfa !default;
$body-bg-min: #707774 !default;
$body-bg-transparent: #f3fdfa55 !default;
$border-radius: 10px !default;

@import "bootstrap/scss/bootstrap";


body {
  font-weight: 20;
  font-style: normal;

  background-color: transparent;

  transition:
          background-image 0.4s ease-out,
          filter 0.3s ease-out;
}

.page-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transform: scale(1.05);

  z-index: -1;
  pointer-events: none;
}

.bg-color {
  background-color: $body-bg;
  z-index: -2;

  opacity: 1;
}

.bg-image {
  inset: 0;

  background-image: var(--project-background);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(10px);

  opacity: 0;

  transition: opacity 0.6s ease;
  z-index: -1;
}

.bg-image.visible {
  opacity: 0.5;
}

main {
  margin: 10px;
  font-size: 100%
}

.padding-15 {
  padding: 15px;
}

.centered-text {
  width: 100%;
  text-align: center;
}


p b {
  color: $info;
}

.center-horizontally {
  //align-content: center;
  width: 100%;
}

.list-inside {
  list-style: inside;
}

a.subtle-link {
  text-decoration: none;
  font-weight: unset;

  transition: text-decoration 0.5s ease-in-out;
}

a.subtle-link:hover {
  text-decoration: underline;
}

li {
  transition: transform 0.25s ease-in-out;
}

li:hover {
  transform: translateX(5px);
}

.center-all {
  align-content: center;
  justify-content: center;
  width: 100%;
}

.image-popup-info {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;

    background: $primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.25s, opacity 0.25s;
  }

  &:hover::after {
    transform: translateY(0);
    opacity: 1;
  }
}
