@import "custom.scss";

footer {
  display: flex;

  margin: 10px;
  padding: 5px;

  align-items: center;
  justify-content: center;

  border-top: 1px solid $dark;

  column-gap: 10px;
}

a.footer-link {
  background-color: $body-bg-transparent;
  border: 1px dashed $body-bg-min;
  border-radius: 25px;
  padding: 10px;

  transition: all 0.15s ease-in-out;
  color: $dark;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    background-color: $secondary;
    box-shadow: 0 3px $primary;
    border: none;
  }

  &:active {
    transform: scale(0.75);
    border: 3px dashed $dark;
  }
}