@import "custom";

.grid-view {
  width: 100%;
}

.grid-view-element {
  border-radius: 25px;
  border: 1px solid black;

  transition: all 0.25s ease-out;

  &:hover {
    transform: rotate(2deg);
    cursor: pointer;

    background-color: $secondary;
    box-shadow: 4px 4px 0 black;
  }

  &:active {
    transform: scale(0.95) rotate(2deg);
    box-shadow: 0 0 4px 4px $secondary;

    cursor: pointer;
  }
}

.grid-view-element > h4 {
  text-decoration: underline;
}

.grid-view-element > .tagline {
  font-style: italic;
  font-size: 1em;
}

.grid-view-element > .main-image {
  padding: 0 10px;
  border-radius: 25px;
}