@import "custom";

.accordion-item {
  background-color: $body-bg-transparent !important;
}
.project-mini-view {
  border: none !important;
  background-color: transparent;

  .accordion-button { // Default accordion button
    color: $dark !important;
    box-shadow: none !important;
    border: none;
    background-color: transparent !important;
    padding-left: 15px;
  }

  .section-title {
    background-color: $secondary;
    padding: 0 10px;

    transition: all 0.25s ease-in-out;
  }

  .section-title:hover {
    box-shadow: 4px 4px 0 black;
  }

  .accordion-body {
    background-color: transparent;
    padding-left: 25px;
    border: none;
  }

  .accordion-header.section-title { // Actual button/header
    background-color: $secondary;
    border: none;
  }

  .accordion-header.section-title:hover { // Actual button/header
    background-color: transparent;
    border: none;
  }
}
